<div class="row">
  <div class="col-md-12">
    <div class="topic-detail panel panel-default">
      <div class="panel-heading media clearfix">
        关于 “{{.SearchName}}” 的搜索结果, 共 {{.page_info.TotalEntites}} 条
      </div>
      <div class="panel-body">
        {{range .topics}}
        <div class="topic media clearfix">
          <div class="avatar media-left">
            {{user_avatar_tag .User "96x96"}}
          </div>
          <div class="infos media-body">
            <div class="title media-heading"><a href="/topics/{{.Id}}#{{.RepliesCount}}">{{.Title}}</a> {{awesome_icon_tag .}}</div>
            <div class="info">
              {{node_name_tag .Node}}
              {{user_name_tag .User}} 发表于 {{timeago .CreatedAt}}
              {{if .LastReplyUserLogin}}
              ・ 最后由 {{user_name_tag .LastReplyUserLogin}} 于 {{timeago .LastRepliedAt}} 回复
              {{end}}
            </div>
          </div>
          <div class="count media-right">
            <a href="/topics/{{.Id}}#{{.RepliesCount}}">{{.RepliesCount}}</a>
          </div>
        </div>
        {{end}}
      </div>
      <div class="panel-footer">
        {{paginate .page_info}}
      </div>
    </div>
  </div>
</div>
